body.nav-sm .container.body .left_col {
    width: 70px;
    padding: 0;
    position: fixed;
    height: 100%;
    z-index: 200;
}

body.nav-sm .container.body .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2;
}
.right_col{min-height: 1000px;}
body.nav-sm .navbar.nav_title {
    width: 70px;
}

body.nav-sm .navbar.nav_title a span {
    display: none;
}

body.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px;
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}

body.nav-sm .main_container .top_nav {
    padding: 0 !important;
    display: block;
    margin-left: 70px;
    z-index: 2;
}

body.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

body.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #1ABB9C;
}

body.nav-sm > .nav.side-menu > li.active-sm > a {
    color: #1ABB9C !important;
}

body.nav-sm .nav.side-menu li a i.toggle-up {
    display: none !important;
}

body.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
}

body.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none;
}

body.nav-sm ul.nav.child_menu li {
    padding-left: 0;
}

body.nav-sm ul.nav.child_menu li a {
    text-align: left !important;
}

body.nav-sm .profile {
    display: none;
}

.menu_section {
    margin-bottom: 35px;
}

.menu_section h3 {
    padding-left: 23px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}

.menu_section >ul {
    margin-top: 10px;
}

.profile_pic {
    width: 35%;
    float: left;
    background: linear-gradient(to bottom, #4e848d, #6f6f90);
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    margin-bottom: 10%;
    z-index: 1000;
    position: inherit;
    margin-top: 16px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}

.profile_info {
    padding: 26px 10px 10px;
    width: 65%;
    float: left;
    background: linear-gradient(to bottom, #4e848d, #6f6f90);
}

.profile_info span {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

.profile_info h2 {
    font-size: 13px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}

.profile.img_2 {
    text-align: center;
}

.profile.img_2 .profile_pic {
    width: 100%;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
    width: 50%;
    margin: 10px 0 0;
}

.profile.img_2 .profile_info {
    padding: 15px 10px 0;
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

#sidebar-menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px !important;
    min-width: inherit;
    color: #C4CFDA;
}

.active a span.fa {
    text-align: right !important;
    margin-right: 4px;
}

body.nav-sm .menu_section {
    margin: 0;
}

body.nav-sm span.fa,
body.nav-sm .menu_section h3 {
    display: none !important;
}

.nav_menu {
    float: left;
    color: #fff;
    background: #4a868c;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
}

body.nav-md .container.body .col-md-3.left_col {
    width: 230px;
    padding: 0;
    position: absolute;
    display: flex;
}

body .container.body .right_col {
    background: #F7F7F7;
}

body.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}

.nav_title {
    width: 230px;
    float: left;
    background: #253340;
    border-radius: 0;
    height: 64px;
}
.nav_title a:first-letter {
    color: #ed553c;
}

@media (max-width: 991px) {
    body.nav-md .container.body .right_col,
    body.nav-md .container.body .top_nav {
        width: 100%;
        margin: 0;
    }
    body.nav-md .container.body .col-md-3.left_col {
        display: none;
    }
    body.nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0
    }
    .right_col {
        padding: 10px !important;
    }
}

@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px;
    }
    .tile,
    .graph {
        zoom: 85%;
        height: inherit;
    }
}

@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none
    }
}

.container {
    width: 100%;
    padding: 0
}

.navbar-nav>li>a,
.navbar-brand,
.navbar-nav>li>a {
    color: #fff !important;
}

.navbar-brand,
.navbar-nav>li>a {
    margin-bottom: 5px
}

body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.main_container .top_nav {
    padding: 0 !important;
    display: block;
    padding: 10px 20px 0;
    margin-left: 230px;
}

.page-title .title_right .pull-right {
    margin: 10px 0;
}

.main_content {
    padding: 10px 20px;
}

@media (min-width: 192px) and (max-width: 1270px) {
    .hidden-small {
        display: none !important;
    }
    table.tile_info span.right {
        margin-right: 7px;
        float: left;
    }
}

.center-margin {
    margin: 0 auto;
    float: none!important;
}


.col-md-3,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #5A738E;
    text-decoration: none;
}

a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none
}

.navbar {
    margin-bottom: 0
}

.navbar-header {
    background: #34495E;
}

.navbar-right {
    margin-right: 0;
}

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav.side-menu> li {
    position: relative;
    display: block;
}

.nav.side-menu> li > a {
    margin-bottom: 6px;
}

.nav.side-menu> li > a:hover {
    color: #F2F5F7 !important;
}

.nav.side-menu>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background: transparent;
}

.nav.child_menu li:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
    padding-left: 36px
}

.nav.side-menu>li>a,
.nav.child_menu>li>a {
    color: #E7E7E7 !important;
    font-weight: 500;
    cursor: pointer;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 13px 15px 7px;
}

.nav.side-menu> li.current-page {
    border-left: 5px solid #46c1fa;
    
}
.nav.side-menu> li.active {
    border-left: 5px solid #46c1fa;
    background: #486e91;
}

li.current-page {
    background: rgba(255, 255, 255, 0.05);
}

li.current-page a {
    color: #1ABB9C !important
}

.navbar-brand,
.navbar-nav>li>a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px;
}

.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}


.nav.navbar-nav>li>a {
    color: #515356 !important;
}

.nav.top_menu>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #34495E !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.toggle {
    position: relative;
    float: left;
    margin: 0;
    margin-left: -26px;
    padding-top: 16px;
    width: 70px;
    z-index: 200;
}

.toggle a {
    padding: 12px 15px 4px;
    margin: 0;
    border-radius: 15px;
    background: #46c1fa;
    color: #fff;
    z-index: 200;
    cursor: pointer;
}

.toggle a i {
    font-size: 23px;
}

.nav.child_menu > li > a {
    color: rgba(255, 255, 255, 0.75) !important;
    font-size: 14px;
    padding: 9px;
}

.panel_toolbox {
    float: right;
    min-width: 70px;
}

.panel_toolbox>li {
    float: left;
    margin-top: -6px;
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

.panel_toolbox>li>a:hover {
    background: #F5F7FA;
}
.panel-default .panel-heading {
    color: #949494;
    border-color: #e8e8e8;
}
.panel-default {
    border-color: #f5f5f6
}

.main_menu_side {
    padding: 0;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#left,
#right {
    display: table;
}


.fontawesome-icon-list .fa-hover a:hover {
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
}

.fontawesome-icon-list .fa-hover a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
}

.fontawesome-icon-list .fa-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px;
}

.fontawesome-icon-list .fa-hover a .fa {
    width: 32px;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

#sidebar-menu .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn,
.btn-group .btn {
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 20px;
    color: black;
    float: right;
}

header{width:100%;}

body {
  overflow-x: hidden;
}

